@import 'src/stylesheets';

.self {
  height: 100%;
  position: relative;
}

.content {
  background-color: #fff;
  margin-top: 60px;
  min-height: 300px;
  padding: 10px;
  padding-top: 20px;
  width: 100%;

  @include bp(medium-up) {
    margin-top: 75px;
  }

  @include bp(large-up) {
    margin-top: 90px;
  }

  @include bp(xlarge-up) {
    margin-top: 100px;
  }
}

.page {
  display: flex;
}
